server.name: kibana
server.host: "0.0.0.0"
xpack.encryptedSavedObjects.encryptionKey: '{{conf.kibana.encryptionKey}}'
elasticsearch.hosts: [ "http://{{ conf.elasticsearch.host }}:{{ conf.elasticsearch.port }}" ]
elasticsearch.username: {{ conf.kibana.user }}
elasticsearch.password: {{ conf.kibana.pass }}
